.App {
  background-color: #E1E2E1;
  color: #676767;
}

.header {
  font-size: calc(10px + 1vmin);
  color: white;
}

h1{
  margin: 20px 0px 10px 0px;
}

input{
  border: 1px solid #676767;
  border-radius: 3px;
  padding: 3px;
}

