.modalBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.267);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 40%;
    height: 40%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.954);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

    
  .modalContainer p{
    font-size: 25px;
    font-weight: 500;
  }
  
  .modalContainer .modalTitle {
    display: inline-block;
    text-align: center;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .modalContainer .modalFooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .modalFooter button {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    background-color: #546580;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: rgb(239, 77, 110);
  }

  @media only screen and (max-width: 768px){
    .modalContainer {
      width: 60%;
      height: 30%;
    }

    .modalContainer p{
      font-size: 20px;
    }
    
  }