#saveTasksForm{
    background-color: #fff;
    color: #424242;
    width: 95%;
    /* box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%); */
    /* text-align: center; */
    margin: auto;
    /* border-radius: 16px; */
    margin-top: 0px;
    margin-bottom: 77px;
    padding-bottom: 15px;
    padding-left: 20px;
    min-width: 200px;
    overflow: hidden;
}

h4{
    margin-top: 55px;
    margin-bottom: 0;
}


#saveTasksForm h2{
    text-align: left;
    position: relative;
    background-color: rgb(146, 146, 146);
    color: #fff;
    width: 110%;
    margin: 0;
    margin-left: -20px;
    height: 45;
    padding: 10px;
}

form input{
    /* width: 90%;
    margin: auto; */
    width: 200px;
    margin-top: 20px;
    display: block;
}


#saveTasksForm .txt-inputs{
    width: 100%;
    display: block;
}

/* .txt-inputs .inp-txt{
    width: 90%;
    margin: auto;
    margin-top: 20px;
} */

#saveTasksForm .inp-remove{
    background-color: rgb(245, 130, 130);
    margin: auto;
    margin-left: -20px;
    width: 20px;
    margin-top: 20px;
    text-align: center;
}

.txt-inputs input{
    display: inline;
}


#add-text-div{
    /* margin-left: 20px; */
    background-color: aliceblue;
    width: 163px;
    border: 1px solid gray;
    border-radius: 10px;;
    padding: 5px 7px 7px;
    text-align: center;
    margin-bottom: 10px;
}

#add-text-div *{
    display: inline;
}

#add-text-div button{
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
}


#add-text-div button:hover{
    background-color: #c758dd;
    color: white;
    border: 1px solid white;
}

#submitButton{
    cursor: pointer;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 165px;
    /* margin-left: 80%; */
}

#submitButton:hover{
    background-color: #883997;
    color: white;
    border: 1px solid white;
}

#must{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

#loader{
    display: inline;
}

@media only screen and (max-width: 768px) {
    #saveTasksForm h2{
                margin-left: unset;
    }

    /* For mobile phones: */
    #saveTasksForm{
        width: 90%;
        padding-left: unset;
     }

    #submitButton{
        margin-left: 80%;
    }

    form input, #saveTasksForm .txt-inputs{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    #saveTasksForm .txt-inputs{
        margin-top: unset;
    }

    .txt-headers, #add-text-div{
        margin-left: 12px;
    }
  }
