#saveTasksForm{
    background-color: #fff;
    color: #424242;
    width: 50%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    text-align: center;
    margin: auto;
    border-radius: 16px;
    margin-top: 0px;
    margin-bottom: 77px;
    padding-bottom: 15px;
    min-width: 200px;
    overflow: hidden;
}


#saveTasksForm h2{
    text-align: left;
    position: relative;
    background-color: rgb(146, 146, 146);
    color: #fff;
    width: 100%;
    margin: 0;
    height: 45;
    padding: 10px;
}
 
#saveTasksForm input{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: block;
}

#add-text-div{
    margin-left: 20px;
    background-color: aliceblue;
    width: 163px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#add-text-div *{
    display: inline;
}

#add-text-div button{
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
}


#add-text-div button:hover{
    background-color: #c758dd;
    color: white;
    border: 1px solid white;
}

#submitButton{
    cursor: pointer;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 120px;
    margin-left: 80%;
}

#submitButton:hover{
    background-color: #883997;
    color: white;
    border: 1px solid white;
}

#must{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: -0.6px;
}

#loader{
    display: inline;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #saveTasksForm{
        width: 90%;
     }

    #submitButton{
        margin-left: 60%;
    }
  }
