#Nav {
    direction: rtl;
    background-color: #448030;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 55px;
}

.links {
    background-color: #699959;
    color: #FCFDFB;
    font-size: 13px;
    font-weight: 400;
    padding:7px 10px;
    margin-inline-start: 10px;
    text-decoration: none;
    border-radius: 3px;
}

.links:hover {
    background-color: #86B775;
    color: #FCFDFB;
}